@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4f4f4;
}
.cont{
    padding: 15px;
    background-color: rgb(7, 10, 42);
    color: white;
    animation: slideIn 1s forwards;
}
@keyframes slideIn {
    0% {
        transform: translateY(-100px) translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }

}

.one{
    display: flex;
    gap: 10vh;
}

@media (max-width: 769px){
    .one{
        display: block;
    }
    .imag img{
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
}
.imag img{
    height: 500px;
    border-radius: 10%;
    cursor: pointer;
}
.imag p{
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.social-media{
    font-size: 2rem;
    transition: .5s ease;
}

.social-media a {
    margin: 2.5rem .75rem 3rem;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.about img{
    height: 500px;
    border-radius: 10px;
    cursor: pointer;
}
.about{
    display: flex;
    gap: 50px;
    padding: 10px;
}
.matter{
    padding-top: 50%;
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.matter h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 60px;
}
.styling-card{
    padding: 20px;
    background-color: #a0d2eb;
}
@media (max-width: 769px){
    .about{
        display: block;
    }
    .about img{
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
    .matter h1{
        padding-top: 10px;
    }
    .styling-card{
        padding: 20px;
    }
}
.portfolio-container, .projects2{
    display: flex;
    gap: 10px;
    padding: 20px;
}
@media (max-width: 769px){
    .portfolio-container{
        display: block;
    }
    .carding{
        margin-bottom: 10px;
    }
}
#certi{
    background-color: #0049B7; 
    color: white;
}
.certihead{
    text-align: center; 
    text-decoration: underline;
}
#certification-style{
    display: flex;
    padding: 10px;

}

.skills{
    padding: 20px;
    background-color: #e8f9fd;
}
.skills-process{
    width: 90%;
    margin-bottom: 10px;
}

form{
    margin-left: 30%;
    margin-top: 3rem;
}
.form-container{
	width: 100%;
    display: flex;
    background: #0d224a;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
.input-row{
    margin-bottom: 10px;
}
.input-row label{
	display: block;
	margin-bottom: 3px;
    margin-left: -2rem;
}

.input-row input{
	padding: 10px;
	border:0;
	border-radius: 3px;
	outline: 0;
	margin-bottom: 3px;
	font-size: 18px;
    margin-left: -2rem;
	font-family: arial;
}
.input-row button {
    width: 100px;
    border: none;
    height: 40px;
    margin:0 auto;
    display: block;
    text-align: center;
    background: #0688a5;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
.text-cent{
    margin-top:  auto;
    justify-content: center;
}
.image {
    font-family: "Roboto Mono", monospace;

}

#imagezoom {
    animation: zoomOut 2s ease-in-out forwards;
    transform-origin: center;
    height: 90vh;
    border-radius: 20px;
}

    @media(max-width: 768px){
        body{
            height: 50vh;
            width: 50vh;
        }
    }
    @keyframes zoomin {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes zoomOut {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1);
        }
    }











#changingText, #changing, #edu, #pro , #cer ,#ski {
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid; /* Add a blinking cursor */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
